---
// src/pages/404.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Page Not Found">
  <h1>No such L42i page!</h1>
  <p>Sorry, we couldn't find the page you were looking for.</p>
  <a href="/">Return to Home</a>
</BaseLayout>
